/* navbar */
body {
  overflow-x: hidden;
}

nav img {
  width: 120px;
}

.nav-item-logo {
  margin-left: 100px;
}

.nav-item {
  margin-left: 30px;
}

.nav-item a {
  color: #1a8129;
}

nav button {
  margin-left: 180px;
  width: 120px;
  background-color: #1697de;
  color: white;
  box-shadow: 2px 3px 4px #000000;
  border: 1px transparent;
}

nav button a {
  color: white;
  text-decoration: none;
  padding: 15px;
}



/* home */
#home {
  overflow-x: hidden;
  height: 90vh;
  width: 100%;
  /* background-image: url(img/farming.jpg); */
  /* background-size: cover; */
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 90vh;
}

.home {
  overflow-x: hidden;
  height: 90vh;
  width: 100%;
  background-color: #1110107e;
  position: absolute;
  z-index: 10;
  bottom: -33px;
}

.typewriter {
  width: 100%;
}

.home .texxt h2 {
  font-size: 50px;
  font-weight: 700;
}

.home .texxt span {
  font-size: 80px;
  font-weight: 700;
}

.texxt {
  background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  width: 100%;
  height: 50vh;
  margin-top: 30vh;
  font-weight: 900;
  font-size: 30px;
  font-family: revert;
  animation: reveal 300ms ease-in-out forwards 1ms,
    glow 2000ms linear infinite 2001ms
}

@keyframes reveal {
  80% {
    letter-spacing: 8px;
  }

  100% {
    background-size: 300% 300%;
  }
}

@keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}

/* background-color: #ddd; */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}


.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0s ease-in-out;
}

.homepic1 {
  width: 100%;
  height: 44vh;
}

.aboutpic {
  width: 71%;
  height: 60vh;
}

#appeal h1,
#registrations h1 {
  font-weight: 900;
}


.programmes h1,
.projects h1 {
  margin-top: 40px;
  font-weight: 900;
}

.about h1 {
  font-weight: 900
}

.about1 {
  height: 50vh;
  width: 80%;
  display: flex;
  margin: auto;
  /* background-color: #a0d1a9; */
}

.row h3 {
  font-weight: 600;
}

.about1 .row {
  width: 82%;
  height: 54vh;
  margin: auto
}

.about1 .col {
  width: 40%;
  border-radius: 0;
  /* box-shadow: 6px 3px 4px 5px 2px rgb(157, 157, 157); */
}

.about1 .h1 {
  font-weight: 900;
}


/* aim */

.aims {
  height: 60vh;
  width: 80%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  bottom: 0;
  background-image: url(img/support-child-education.webp);
}

.boxaim {
  width: 60%;
  margin: auto;
  position: absolute;
  right: 0;
  padding: 80px;

}

/* runvalue */
.container-runvalue {
  display: flex;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
  height: 150px;
  gap: 18rem;
  width: 80%;
  margin: auto;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

.texxt span {
  font-size: 10px;
}

#run,
#run1,
#run3 {
  font-size: 30px;
}

i {
  font-size: 40px;
}

i {
  color: #009bcd;
}

.val {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

/* projects */

.projects {
  width: 80%;
  height: 60vh;
  margin: auto
}

.boxx,
.boxx_2 {
  height: 50vh;
  width: 45%;
  background-color: rgb(229, 226, 226);
  box-shadow: 2px 3px 4px rgb(181, 179, 179);
  margin: auto;
  padding: 20px;
}

.boxx:hover,
.boxx_2:hover {
  background-color: rgb(114, 106, 106);
}

/* programmes */






/* gallery1 */

.App {
  font-family: sans-serif;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.images-container {
  display: flex;
  max-width: 500px;
  overflow: scroll;
  /* Add the following lines for smooth scrolling */
  scroll-behavior: smooth;
  transition: scroll 0.3s ease-in-out;
}

.image {
  width: 200px;
  height: 200px;
  margin: 5px;
  border-radius: 8px;
}

.nav-btn {
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-color: #c3c3c3;
  border-radius: 6px;
  height: 200px;
  width: 30px;
  margin: 5px;
}

.slider {
  margin: 0 20px;
  overflow: "hidden";
  padding: 2rem 0;
}

.slider img {
  width: 107%;
  height: 56vh;
  border-radius: 10px;
}

.react-multi-carousel-list {
  padding: 0rem 0 2rem 0;
}

.custom-dot-list-style button {
  border: none;
  background: #009bcd;
}

/* .react-multi-carousel-dot.react-multi-carousel-dot--active button {
  background: rgb(255, 68, 68) !important; */



.gallery1 {
  height: 74vh;
  width: 100%;
}

.home4 {
  height: 500px;
  width: 80%;
  margin: auto;
}

.home4 .conatiner-fluid {
  width: 80%;
  margin: auto;
}

.home4 .col {
  height: 100px;
  width: 80px;
  margin: auto;
}

.home4 h1 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 800;
}

.home4 div .col {
  height: 253px;
  width: 379.8px;
  overflow: hidden;
  margin: 4px;
}

.pc {
  height: 253px;
  width: 355.8px;
  /* transform: scale(1.2); */
  /* position: absolute; */
}

.pc:hover {
  transform: scale(1.1);
  transition: 0.5s all ease-in-out;
  filter: grayscale(8);
}







/* programmes */
.programmes .col:hover {
  background-color: #1f87c0ea;
  color: rgb(255, 255, 255);

}

.programmes .col {
  background-color: #0f8926;
  color: white;
  margin: 10px;
  height: 25vh;
  padding: 20px;
  align-items: center;
}


/* gallery */
.gallerypage {
  overflow: hidden;
}

.photos-heading {
  margin-top: 3%;
  text-align: center;
  margin-bottom: 5%;
}

.photos-heading h1 {
  color: #000000;
  font-weight: 900
}

@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');

.warpper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0px 2px;
  background: #0f8926;
  display: inline-block;
  color: #fff;
  border-radius: 3px 3px 0px 0px;
  /* box-shadow: 0 0.5rem 0.8rem #D9853B; */
}


.panels {
  /* background: aliceblue; */
  /* box-shadow: 0 2rem 2rem #D9853B; */
  height: 100%;
  width: 220vh;
  padding: 20px;
  /* margin-left: 15%; */
}

.panel {
  display: none;
  animation: fadein .8s;
}

.panel img {
  margin: 1%;
}

#photu {
  height: 40vh;
  width: 55vh;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.panel-title {
  font-size: 1.5em;
  font-weight: bold
}

.radio {
  display: none;
}

#one:checked~.panels #one-panel,
#two:checked~.panels #two-panel,
#three:checked~.panels #three-panel {
  display: block
}

#one:checked~.tabs #one-tab,
#two:checked~.tabs #two-tab,
#three:checked~.tabs #three-tab {
  background: #fffffff6;
  color: #000;
  border-top: 3px solid #000;
}

.panels img {
  height: 50vh;
  width: 60vh;
}


/* donate */
#donate h1 {
  margin: 20px;
  color: #000000;
  font-weight: 800;
  /* text-shadow: 2px 3px 4px #1f1f1f; */
}

#donate h3 {
  text-align: center;
  color: #0f8926;
}

.gif1 {
  filter: hue-rotate(32deg);
  width: 100px;
  position: absolute;
  right: 0;
}

.gif2 {
  filter: hue-rotate(32deg);
  width: 100px;
  position: absolute;
  right: 0;
}

.para1 {
  margin: auto;
  word-wrap: break-word;
}

#donate .col {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}


/* appeal */
#appeal {
  position: absolute;
}

.imga {
  position: relative;
}

.programme .row {
  width: 100%;
}

/* contact */
.contact {
  padding: 80px 0;
  height: 68vh;
}

.contact .heading h2 {
  font-size: 46px;
  font-weight: 700;
  margin: 0;
  color: #1697de;
  padding: 0;

}

.contact .heading h2 span {
  color: #0f8926;
  margin-right: 10px;
}

.contact .heading p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
  color: #999999;
  margin: 20px 0 60px;
  padding: 0;
}



.contact .title h3 {
  font-size: 20px;
  font-weight: 600;
}

.contact .title p {
  font-size: 16px;
  font-weight: 400;
  color: #999;
  line-height: 1.6;
  margin: 0 0 40px;
}

.contact .content .info {
  margin-top: 30px;
}

.contact .row {
  width: 50%;
}

.contact .content .info i {
  font-size: 30px;
  padding: 0;
  margin: 0;
  color: #02434b;
  margin-right: 20px;
  text-align: center;
  width: 20px;
}

.contact .content .info h4 {
  font-size: 15px;
  line-height: 1.4;
}

.contact .content .info h4 span {
  font-size: 15px;
  font-weight: 300;
  color: #999999;
}

/* trustees */
#trustees {
  width: 50%;
  height: 500vh;
}

.user {
  padding: 30px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  color: #1697de;
}

#trustees h1 {
  color: #000000;
  width: 100%;
  font-weight: 800;
}




/* vision registrations */
.bodyreg {
  background-image: linear-gradient(to right, #1697de, #009bcd, #0099a3, #009369, #0f8926);
}

hr.dashed {
  border-top: 3px dashed #1c1b1b;
}

#registrations {
  margin: 20px auto 0;
  padding: 10px;
  max-width: 600px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

#registrations h1 {
  font-size: 38px;
  margin-bottom: 20px;
  color: #333333;
  text-align: center;
  background: -webkit-linear-gradient(to right, #1697de, #0f8926);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1697de, #0f8926);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  opacity: 100%;
  /* text-shadow: 2px 4px rgb(0, 0, 0); */
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
}



#registrations ul {
  list-style-type: none;
  padding-left: 20px;
  padding: 20px;
}

#registrations ul li {
  padding: 6px;
  font-size: 16px;
  color: #555555;
}

#registrations ul li ul {
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 10px;
}

#registrations ul li ul li {
  margin-bottom: 5px;
}

#registrations ul li ul li:last-child {
  margin-bottom: 0;
}

#registrations ul li span {
  font-weight: bold;
  color: #007bff;
}




.divbox {
  display: flex;
}


/* @media screen and (max-width: 1368px) {
  nav button {
    margin-left: 0px;
  }
} */


/* Responsive */
@media screen and (max-width: 600px) {
  .nav-item {
    margin: 0;
  }

  nav button {
    margin: 0;
  }

  .nav-item-logo {
    margin: 0;
  }

  .home {
    overflow-x: hidden;
    height: 32vh;
    width: 100%;
    background-color: #1110107e;
    position: relative;
    z-index: 10;
    bottom: 214px;
  }

  #home {
    width: 100%;
    height: 32vh;
    /* background-image: url(img/bg.jpg);
    background-size: cover; */
  }

  .typewriter {
    width: 100%;
    margin-top: 0;
    overflow: hidden;
    margin-left: 0;
  }

  .texxt {
    text-align: center;
  }

  .typewriter h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    background: #1697de;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #ffffff, #dbdbdb);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #ffffff, #f6f6f6);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    opacity: 100%;
    width: 280px;
    overflow: hidden;
    text-wrap: wrap;
    margin: 0 auto;
    font-size: 20px;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end;
  }

  .aims {
    height: 60vh;
    width: 80%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    background-image: url(img/support-child-education.webp);
    margin-top: -360px;

  }

  .boxaim {
    margin: auto;
    width: 118%;
    margin-top: 328px;
  }

  .homepic1 {
    height: 20vh;
    width: 100%;
  }

  .aboutpic {
    height: 20vh;
  }

  .row h3 {
    font-weight: 900;
  }

  .about1 {
    height: 102vh;
    display: block;
    position: relative;
    bottom: 290px;
    overflow-x: hidden;
  }

  .about1 .row {
    width: 82%;
    height: 25vh;
    margin: auto;
  }

  .about1 .col {
    width: 40%;
  }

  .gallery1 {
    margin-top: 160px;
  }

  .projects {
    margin-top: -140px;
    height: 120vh;
  }

  .page .projects {
    margin-top: 100px;
  }

  .divbox {
    display: block;
    margin: auto;
  }

  .boxx {
    height: 85vh;
    width: 100%;
    background-color: rgb(229, 226, 226);
    box-shadow: 2px 3px 4px rgb(181, 179, 179);
    margin: 20px;
    padding: 20px;
  }

  .container-runvalue {
    display: inline-table;
    position: relative;
    bottom: 320px;
    left: 40px;
  }

  .boxx_2 {
    width: 100%;
    background-color: rgb(229, 226, 226);
    box-shadow: 2px 3px 4px rgb(181, 179, 179);
    margin: 20px;
    padding: 20px;
  }

  .programmes .col {
    margin: 5px;
    height: 40vh;
  }

  .drow {
    display: block;
  }

  .contact {
    height: 116vh;
  }

  #donate .row {
    display: block;
    padding: 20px;
  }

  .imga {
    width: 100%;
  }

  #registrations {
    border-radius: 0px;
  }

  .tab {
    display: block;
  }

  #photu {
    height: 20vh;
    width: 25vh;
  }

  .panels {
    display: contents;
  }

  .contactboxes {
    flex-direction: column;
  }

  .contact .row {
    width: 100%;
  }

  #one:checked~.panels #one-panel,
  #two:checked~.panels #two-panel,
  #three:checked~.panels #three-panel {
    display: flow;
    margin-left: 13px;
  }

  .warpper {
    display: none;
  }

  .phonegallery .scroll-container {
    background-color: #dbd8d8b3;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }

  .phonegallery .scroll-container img {
    padding: 10px;
  }

  .phonegallery img {
    height: 30vh;
    width: 50%;
  }


  .phoneres .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  /* Create four equal columns that sits next to each other */
  .phoneres .column {
    padding: 0 4px;
    flex: 100%;
    max-width: 100%;
  }

  .phoneres .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
}


.contactboxes {
  display: flex;
}

.phonegallery {
  display: none;
}

.warpper {
  display: block;
}

/* 
@media screen and (max-width: 600px)  {
  .phonegallery {
    display: block; 
  }
  .warpper{
    display: none;
  }
  #forweb{
    display: none;
  }
  #forphone{
    display: block;
  }
} */


#forphone {
  display: none;
}



.drow {
  display: flex;
}







a button {
  text-decoration: none;
  background-color: #009bcd;
  color: white;
  padding: 8px;
  border: none;
  width: 120px;
}